# Archivo zip
Proyecto_1 Emociones\Modelo y Dataset_Proyecto_1  Emociones.zip

# Carpeta Sentimientos y archivo emociones.xml
Proyecto_1 Emociones\Sentimientos/
Proyecto_1 Emociones\emociones.xml

# Archivo zip
Proyecto_2 Waldo\Modelo_Dataset_Pruebas Proyecto_2 Wally.zip

# Archivo XML
Proyecto_2 Waldo\cascade.xml

# Carpeta Prueba
Proyecto_2 Waldo\Prueba/

# Carpeta wally
Proyecto_2 Waldo\wally/

# Carpeta Imagenes
Proyecto_4 CNN\Imagenes/

# Carpeta modelo
Proyecto_4 CNN\modelo/

# Carpeta prueba
Proyecto_4 CNN\prueba/

# Archivo zip
Proyecto_4 CNN\Modelo_Dataset_Pruebas Proyecto_4 Riesgos.zip

# Carpeta Juego_IA en Proyecto_3 Phaser (3) Proyectiles
Proyecto_3 Phaser  (3) Proyectiles\Juego_IA/

# Archivo zip en Proyecto_3 Phaser (3) Proyectiles
Proyecto_3 Phaser  (3) Proyectiles\Phaser_3Proyectiles  Proyecto_3.zip

# Carpeta Juego_IA_2 en Proyecto_5 Phaser Proyectil Rebota
Proyecto_5 Phaser Proyectil Rebota\Juego_IA_2/

# Archivo zip en Proyecto_5 Phaser Proyectil Rebota
Proyecto_5 Phaser Proyectil Rebota\Phaser ProyectilRebota   Proyecto_5.zip


